- name: Create folder - {{ item.dir }}
  community.general.jenkins_job:
    config: "{{ lookup('file', 'templates/folder.xml') }}"
    name: "{item}"
    url: http://172.31.83.253:8080
    user: admin
    password: "{{jenkins_password}}"
  loop: "{{ folders }}"  


- name: create Pipeline jobs
  ansible.builtin.include_tasks: pipeline.yml
  loop: "{{ pipeline_jobs }}"
 
    