- name: create Config File
  ansible.builtin.template:
    src: job.xml
    dest: /tmp/job.xml

- name: Create a jenkins job
  community.general.jenkins_job:
    config: "{{ look up('flie', '/tmp/job.xml') }}"
    name: test
    url: http://172.31.83.253:8080
    user: admin
    password: "{{jenkins_password}}"
  loop:
    - frontend
    - catalogue
    - cart   